<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.gxht.cms.common.dao.CommonDao">
    <select id="findUnAuthenticationMerchants" resultType="map" parameterType="java.lang.Integer">
        SELECT c.id id,c.clientName name,c.phone phone,cy.cityName cityName,c.createDate createDate from client c,city cy WHERE c.citycode=cy.adcode AND state=#{state}
    </select>
    <select id="findPhoneByClientId" parameterType="java.lang.Integer" resultType="java.lang.String">
      SELECT phone FROM merchantcontact WHERE clientId=#{id}
    </select>
    <update id="updateClientState" parameterType="java.lang.Integer">
        UPDATE client SET state=#{state } WHERE id=#{id}
    </update>
    <select id="getUrl" resultType="java.lang.String">
        SELECT url from url
    </select>
</mapper>